
    body
    {
   
        padding: 0;
        margin: 0;
       background-color: #d6e5f4;  
        color: #000;
        text-align: center;
        font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    }
    
    #contents    
    {
        margin-top: 40px;
        margin-bottom: 10px;
        margin-right:auto;
        margin-left:auto;
        width: 520px;
        padding: 10px;
       background-color: #ffffff;

        color: #000;
        text-align: left;
    }


    h1    
    {
        color: #333;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    
    label
    {
        font-weight: bold;
    }
    
    /*  Styling for input field*/
       
    #inputArea
    {
        font-family: Arial, Sans-Serif;
        font-size: 13px;
        /*background-color: #d6e5f4; */
        padding: 10px;
        width:500px;
    }
    #inputArea input
    {
         font: 20px/28px "Myriad Set", "Lucida Grande", Helvetica, Arial, sans-serif; 
        margin-bottom: 5px;
        display: block;
        padding: 4px;
       width: 500px; 
    }

        .activeField
        {
            background-image: none;
            background-color: #ffffff;
            border: solid 1px #33677F;
        }
         .activeField  textarea {
            padding: 5px;
          }
            
        .idle
        {
        border: solid 1px #85b1de;
        background-image: url( '../img/blue_bg.png' );
        background-repeat: repeat-x;
        background-position: top;
        }
       .hint { color: #A2B0BC; }

    
    

     
    textarea#commentBox {
        width: 500px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
        
        background-position: bottom right;
        background-repeat: no-repeat;
}                   
     
#hint {
    background: #FFFFCC;
    border: 1px solid #f2df61;
    cursor: default;
    font-size: smaller;
    margin: 0;
    opacity: 0.9;
    padding: 10px;
}

 
#commentsResult{
    width:500px;
}